*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  background-color: #fff;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.header-logo {
  margin-right: 76px;
}
.logo-part {
  color: #f4f4fd;
  font: 18px Raleway, sans-serif;
  padding: 100px 0 0;
}

.nav-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  color: #2e2f42;
  display: block;
  padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
  padding-left: 0 0 0 332px;
  font: 16px Roboto, sans-serif;
}

.contacts-list {
  display: flex;
  gap: 40px;
  align-items: center;
}
.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
}

.main-section {
  background-color: #2e2f42;
  padding: 188px 0;
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  padding-top: 148px;
  max-width: 496px;
  justify-content: space-between;
  display: flex;
  margin: 0 auto;
}

.btn-primary {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  height: 56px;
  display: block;
  min-width: 169px;
  margin: auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.btn-primary:hover {
  background-color: #404bbf;
}

.btn-primary:focus {
  background-color: #404bbf;
}

.benefits-section {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.subtitle-list {
  display: flex;
  justify-content: center;
  gap: 24px;

  padding: 152px 0;
}

.subtitle-item {
  width: calc((100% - 72px) / 4);
}

.subtitle-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.text-benefit {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
  font-size: 16px;
  color: #434455;
  padding-right: 24px;
}

.about-us {
  background-color: #f4f4fd;
  width: 1440px;
  height: 732px;
  padding: 120px 0;
}

.about-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.about-team-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  border-radius: 0px 0px 4px 4px;
}

.member-item {
  background-color: #ffffff;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
}

.container-about-us {
  padding: 32px 0;
}
.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
  text-align: center;
  color: #434455;
}
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-heading {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  column-gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 48px;
}
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  margin: 0 0 8px;
  border-top: none;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  border-radius: 0px 0px 4px 4px;
}
.description {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
}

.footer-text {
  color: #f4f4fd;
  width: 264px;
}
